alembic
aniso8601
blinker
click
Faker
Flask
Flask-Migrate
Flask-RESTful
Flask-SQLAlchemy
greenlet
itsdangerous
Jinja2
Mako
MarkupSafe
marshmallow
packaging
python-dateutil
pytz
six
SQLAlchemy
SQLAlchemy-serializer
typing_extensions
Werkzeug
flask-cors
gunicorn